$crimson: #e32c20;
$cab-sav: #480a2a;
$red-violet: #de1580;
$white: #fff;
$wine-berry: #531937;
$valid-color: #2e962e;
$robot-face: #f4b39b;
$delete-color: #d9534f;
$border-color: #ddd;
$declick-yellow:#d1d718;

$size-1: 4px;
$size-2: 8px;
$size-3: 16px;
$size-4: 32px;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    max-height: max-content;
    align-items: center;
    border: 0;
    border-radius: $size-1;
    padding: $size-2;
    margin-right: $size-2;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid $cab-sav;
    color: $cab-sav;
    background: transparent;
    font-family: 'Arial';

    &.btn-default {
        // background-color: $cab-sav;
        // color: $white;

        &:hover {
            // background-color: $wine-berry;
            // color: $white;
            text-decoration: none;
        }
    }

    &.btn-danger {
        background-color: $delete-color;
        color: $white;
    }

    &.btn-primary {
        background-color: $valid-color;
        color: $white;
    }
}

.tag {
    display: inline-block;
    color: $cab-sav;
    padding: $size-1;
    border: 1px solid $cab-sav;
    border-radius: $size-1;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

$fa-font-path: "~font-awesome/webfonts";

@font-face {
    font-family: "Rubik";
    src: url(~@/assets/fonts/Rubik-Regular.eot);
    src: url(~@/assets/fonts/Rubik-Regular.eot?#iefix) format("embedded-opentype");
    src: url(~@/assets/fonts/Rubik-Regular.woff) format("woff");
    src: url(~@/assets/fonts/Rubik-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
    overflow-x: hidden;
}
