<template lang="pug">
.self
  | © 
  a(href="//colombbus.org") Colombbus 
  | {{ ( new Date()).getUTCFullYear() }} -&nbsp;
  a(target='_blank' href='mailto:declick@colombbus.org') contact
</template>

<style lang="scss" scoped>
a:hover {
  color: var(--main-light-color);
}
a {
  color: #fff;
  text-decoration: none;
}

.self {
  clear: both;
  height: 25px;
  line-height: 25px;
  padding: 0 5px;
  font-size: 12pt;
  color: #fff;
  background-color: #480a2a;
  border-top: 1px solid #fff;
  text-align: center;
}

.right-aligned {
  float: right;
}

.glyphicon {
  position: relative;
  top: 2px;
}
</style>
