<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Declick</title>
  <link rel="icon" type="image/x-icon" href="<%= htmlWebpackPlugin.files.favicon %>" />
  <meta property='og:title' content='Declick - apprend la programmation avec declick - Colombbus'>
  <meta property='og:description'
    content='declick.net est un logiciel libre d’initiation à la programmation informatique, disponible hors-ligne.'>
  <meta property='og:type' content='image/png'>
  <meta property='og:url' content='https://declick.net'>
  <meta property='og:image' content='https://declick.net/img/dk.png'>
  <meta property='og:image:alt' content='logo declick'>
  <meta property='og:site_name' content='Declick'>
  <meta property='og:image:width' content='200'>
  <meta property='og:image:height' content='150'>
  <meta property="og:video" content="https://player.vimeo.com/video/211507001">
  <meta name="description"
    content="declick.net est un logiciel libre d’initiation à la programmation informatique, disponible hors-ligne.">
  <meta name='keywords'
    content="declick, programmation, javascript, création de jeux video, francais, éduction, apprentissage">
</head>

<body>
  <div id="application"></div>
</body>

</html>